/* GLOBAL 
----------------------------------------
*/	

body {
    max-width: 1080px; 
    margin: 0 auto;
}

h1, h2 {
    font-family: 'Dancing Script', cursive;
}

h1 {
    font-size: 32px; 
    letter-spacing: 3px;
}

/* HEADER
----------------------------------------
*/

header {
    background-color: #FCFDF3;
}

header .title p {
    text-align: center;
    position: relative;
    bottom: 52px;
    right: 130px;
    color: #DDD9C3;
    font-family: 'Dancing Script', cursive;
    font-weight: bold;
    letter-spacing: 1px;
}

header nav ul {
    list-style: none;

}

header nav li {
    display: inline-block;
    margin-right: 8px;

}

header nav a:link {
    text-decoration: none;
}

header img {
    max-width: 125px;
    max-height: 125px;
    margin-top: 25px;
    position: relative;
    left: 25px;
}

header .social-nav {
    float: right;
    position: relative;
    bottom: 70px;
    right: 370px;
    border-right: solid 1px #BCB292;
    
}


header .search {
    float: right;
    position: relative;
    bottom: 70px;
    right: 150px;
}

input {
    border: #D6D0B8 1px solid;
    width: 80px;

}


.fab {
    font-family: Font Awesome\ 5 Brands;
    color: #BCB292;
}

.fa, .fas {
    font-weight: 900;
    color: #EE4D28;
    position: absolute;
    right: 85px;
    font-size: 14px;
    margin-top: 2px;
}

/* SLIDER 
------------------- */
.slider {
    background: red;
    color: #FDE6E3;
}

.slider p {
    font-family: 'Dancing Script', cursive;
    width: 38%;
    margin-top: 25px;
    margin-left: 30px;
    font-size: 18px;
    color: #fff;
}

.slider h1 {
    margin-left: 25px;
    padding-top: 25px;
    text-shadow: 1px 1px #000;
}

.slider .coffee-menu {
    background-color: #DDD5BC;
    max-width: 1030px;
    margin-left: 50px;
    padding-top: 5px;
    padding-bottom: 5px;
    box-sizing: border-box;
}

.slider .coffee-menu li {
    display: inline-block;
    padding: 0px 20px 15px 20px;
}

.slider .coffee-menu li:nth-child(-n+4) {
    border-right: 1px solid red;
}


.slider .coffee-menu a:link {
    color: red;
    text-decoration: none;
    font-family: 'Dancing Script', cursive;
    font-size: 40px;
    letter-spacing: 1px;
}


.slider .coffee-menu a:active {
    color: red;
    text-decoration: none;
    font-family: 'Dancing Script', cursive;
    font-size: 40px;
    letter-spacing: 1px;
}

.slider .coffee-menu a:hover {
    color: #fff !important;
    text-decoration: none;
    text-shadow: 1px 1px #9e9e9e;
    font-family: 'Dancing Script', cursive;
    font-size: 40px;
    letter-spacing: 1px;
}

.slider .coffee-menu a:visited {
    color: red;
    text-decoration: none;
    font-family: 'Dancing Script', cursive;
    font-size: 40px;
    letter-spacing: 1px;
}

.slider button {
    background: #fff;
    border: 0;
    font-family: 'Dancing Script', cursive;
    width: 250px;
    height: 50px;
    margin: 25px 0px 25px 75px; 
    font-size: 35px;
    text-align: left;
    padding-left: 20px;
    position: relative;
}

.slider button a {
    position: relative;
    display: inline-block;
}

.slider button a:link {
    color: red;
    text-decoration: none;
    font-size: 35px;

}

.slider button a:visited {
    color: red;
    text-decoration: none;
    font-size: 35px;


}

.slider button a:active {
    color: red;
    text-decoration: none;
    font-size: 35px;
}

.slider button a:hover {
    color: red;
    text-decoration: none;
    font-size: 40px;
    -webkit-transition: font-size 0.2s; 
    transition: font-size 0.2s; 
}

.slider button a:visited {
    color: red;
    text-decoration: none;
    font-size: 35px;

}

/* SUMMARY SECTION 
---------------------------------------- */

.background {
    background-color: #FCFDF3;
    padding-top: 25px;
}

#summary h2 {
    font-size: 32px;
    color: #E16268;
    letter-spacing: 3px;
    display: list-item;
    margin-left: 75px;
}

#summary p {
    font-family: 'Alegreya Sans', sans-serif;
    color: #9a947c;
    margin-top: 10px;
    width: 50%;
    margin-left: 45px;

}